# ---------------------------------- PART 5 ----------------------------------

# # Filling the Null Values

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('C:/Users/Admin/Desktop/PythonProject/pandastutorial/Datasets/sample.csv')
df.head()

   Roll No.  Physics  Chemistry  Maths  Computer
0         1     56.0       57.0   58.0      59.0
1         2     23.0       24.0   25.0      26.0
2         3     89.0       25.0   26.0      27.0
3         4     45.0       26.0   27.0      28.0
4         5     23.0       27.0   28.0      29.0

In [4]:
df.isnull().sum()

Roll No.     0
Physics      3
Chemistry    4
Maths        2
Computer     1
dtype: int64

In [5]:
df.fillna(0)

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        0.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      0.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      0.0       17.0   18.0      19.0
11        12     88.0        0.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        0.0    0.0      42.0
14        15      0.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        0.0    0.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       0.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [6]:
df.fillna(2)

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        2.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      2.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      2.0       17.0   18.0      19.0
11        12     88.0        2.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        2.0    2.0      42.0
14        15      2.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        2.0    2.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       2.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [8]:
df.fillna({'Physics':'none', 'Chemistry':0, 'Maths':30})

    Roll No. Physics  Chemistry  Maths  Computer
0          1      56       57.0   58.0      59.0
1          2      23       24.0   25.0      26.0
2          3      89       25.0   26.0      27.0
3          4      45       26.0   27.0      28.0
4          5      23       27.0   28.0      29.0
5          6      90        0.0   29.0      30.0
6          7      12       13.0   14.0      15.0
7          8      78       14.0   15.0      16.0
8          9    none       15.0   16.0      17.0
9         10      45       16.0   17.0      18.0
10        11    none       17.0   18.0      19.0
11        12      88        0.0   19.0      20.0
12        13      22       23.0   24.0      25.0
13        14      90        0.0   30.0      42.0
14        15    none       43.0   43.0      43.0
15        16      44       44.0   44.0      44.0
16        17      45       45.0   45.0      45.0
17        18      46       46.0   46.0      46.0
18        19      47       47.0   47.0      47.0
19        20      48       48.0   48.0      48.0
20        21      49       49.0   49.0      49.0
21        22      50       50.0   50.0      50.0
22        23      51       51.0   51.0      51.0
23        24      52       52.0   52.0      52.0
24        25      53        0.0   30.0      53.0
25        26      54       33.0   33.0      54.0
26        27      55       34.0   34.0      55.0
27        28      56       35.0   35.0       NaN
28        29      57       36.0   36.0      66.0
29        30      58       37.0   37.0      43.0

In [9]:
df.fillna(method = 'ffill')

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0       27.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9     78.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11     45.0       17.0   18.0      19.0
11        12     88.0       17.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0       23.0   24.0      42.0
14        15     90.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0       52.0   52.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0      55.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [10]:
df.fillna(method = 'bfill')

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0       13.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9     45.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11     88.0       17.0   18.0      19.0
11        12     88.0       23.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0       43.0   43.0      42.0
14        15     44.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0       33.0   33.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0      66.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [15]:
df['Physics'].fillna(value=df['Physics'].mean())

0     56.000000
1     23.000000
2     89.000000
3     45.000000
4     23.000000
5     90.000000
6     12.000000
7     78.000000
8     52.814815
9     45.000000
10    52.814815
11    88.000000
12    22.000000
13    90.000000
14    52.814815
15    44.000000
16    45.000000
17    46.000000
18    47.000000
19    48.000000
20    49.000000
21    50.000000
22    51.000000
23    52.000000
24    53.000000
25    54.000000
26    55.000000
27    56.000000
28    57.000000
29    58.000000
Name: Physics, dtype: float64

In [11]:
df.fillna(method = 'bfill', inplace = True)

In [12]:
df

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0       13.0   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9     45.0       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11     88.0       17.0   18.0      19.0
11        12     88.0       23.0   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0       43.0   43.0      42.0
14        15     44.0       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0       33.0   33.0      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0      66.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0